<div class="container">
  <h3>Angular Forms</h3>
  <form #form="ngForm">
    <div class="form-group">
      <label for="firstNameId">First Name</label>
      <input if="firstNameId" type="text" class="form-control" required placeholder="First Name" name="firstName" [(ngModel)]="model.firstName">
    </div>

    <div class="form-group">
      <label for="lastNameId">Last Name</label>
      <input if="lastNameId" type="text" class="form-control" required placeholder="Last Name" name="lastName" [(ngModel)]="model.lastName">
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" name="is-full-time" [(ngModel)]="model.isFullTime"> Full Time Employee
      </label>
    </div>
 
    <label>Payment Type</label>
    <div class="radio">
      <label>
        <input type="radio" name="paymentType" value="w2" checked [(ngModel)]="model.paymentType"> W2
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="paymentType" value="1099" [(ngModel)]="model.paymentType"> 1099
      </label>
    </div>

    <div class="form-group">
      <label>Primary Language</label>
      <select class="form-control" name="primaryLanguage" [(ngModel)]="model.primaryLanguage">
        <option *ngFor="let lang of languages">
          {{ lang }}
        </option>
      </select>
    </div>
    
    <div class="form-group">
      <label>Date Hired</label>
      <input type="date" class="form-control" name="dateHired" [(ngModel)]="model.dateHired">
    </div>

    <button class="btn btn-primary" type="submit">Ok</button>
  </form>

Model: {{model | json }}
<br>
Angular: {{ form.value | json }}
</div>

